<div class="container mt-2">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">Главная</h1>
      <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel dignissimos necessitatibus accusantium? Deleniti provident at sapiente laudantium non? Animi, necessitatibus facilis. Vitae quae, adipisci deleniti quo iure, unde consequuntur nesciunt odit laborum temporibus dolorum eum! Similique dolorem eum est aut ipsum animi doloremque voluptatem accusamus, iste inventore nesciunt voluptate alias enim, error qui mollitia aperiam et vero doloribus. Recusandae praesentium impedit eaque similique inventore sequi, reprehenderit possimus ullam aspernatur! Facilis, placeat voluptatem quod molestias labore provident voluptas nam quos obcaecati possimus ab sunt, nobis doloribus animi itaque harum quia vero impedit id odio minus illo, sapiente eveniet ratione. Tempore, porro?</p>
    </div>
  </div>
</div>
